.bg-img{
    background-image: url('../img/slide-pic.jpg');
    height: 500px;
}
.bg-color{
    background-color: #333;
    opacity: 0.9;
    height: 500px;
}
.bg-img2{
    background-image: url('../img/img.png');
    height: 250px;
    width: 250px;
}
span.position-absolute{
    left: 10px;
    top: 10px;
}
